openapi: 3.0.0
info:
  title: SubTrackr API
  version: 1.0.0
  description: Subscription management platform API
  contact:
    name: SubTrackr Team
    email: support@subtrackr.com

servers:
  - url: https://api.subtrackr.com/v1
    description: Production
  - url: http://localhost:3001
    description: Local Development

security:
  - ApiKeyAuth: []

tags:
  - name: Plans
    description: Subscription plan management
  - name: Pricing
    description: Pricing tiers and discounts
  - name: Features
    description: Feature flags and gating
  - name: Themes
    description: Merchant theme customization
  - name: Public
    description: Public configuration endpoints
  - name: Health
    description: Service health checks
  - name: GraphQL
    description: GraphQL API endpoint
  - name: Metrics
    description: Prometheus metrics
  - name: Rate Limits
    description: Rate limit management
  - name: Cache
    description: Cache management

paths:
  /health:
    $ref: './paths/health.yaml'
  /plans:
    $ref: './paths/plans.yaml'
  /plans/{id}:
    $ref: './paths/plans-id.yaml'
  /pricing:
    $ref: './paths/pricing.yaml'
  /features:
    $ref: './paths/features.yaml'
  /themes:
    $ref: './paths/themes.yaml'
  /themes/{id}:
    $ref: './paths/themes-id.yaml'
  /themes/{id}/activate:
    $ref: './paths/themes-activate.yaml'
  /public/{path}:
    $ref: './paths/public.yaml'
  /graphql:
    $ref: './paths/graphql.yaml'
  /metrics/plan-cache:
    $ref: './paths/metrics.yaml'
  /rate-limits/analytics:
    $ref: './paths/rate-limits-analytics.yaml'
  /rate-limits/status:
    $ref: './paths/rate-limits-status.yaml'
  /rate-limits/bypass:
    $ref: './paths/rate-limits-bypass.yaml'
  /rate-limits/config:
    $ref: './paths/rate-limits-config.yaml'
  /purge-user-cache:
    $ref: './paths/purge-user-cache.yaml'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Plan:
      $ref: './schemas/Plan.yaml'
    PlanInput:
      $ref: './schemas/PlanInput.yaml'
    PlanUpdateInput:
      $ref: './schemas/PlanUpdateInput.yaml'
    PricingTier:
      $ref: './schemas/PricingTier.yaml'
    PricingUpdateInput:
      $ref: './schemas/PricingUpdateInput.yaml'
    Feature:
      $ref: './schemas/Feature.yaml'
    FeatureUpdateInput:
      $ref: './schemas/FeatureUpdateInput.yaml'
    Theme:
      $ref: './schemas/Theme.yaml'
    ThemeInput:
      $ref: './schemas/ThemeInput.yaml'
    ThemeUpdateInput:
      $ref: './schemas/ThemeUpdateInput.yaml'
    ConfigEntry:
      $ref: './schemas/ConfigEntry.yaml'
    ErrorResponse:
      $ref: './schemas/ErrorResponse.yaml'
    SuccessResponse:
      $ref: './schemas/SuccessResponse.yaml'

  parameters:
    PlanId:
      $ref: './parameters/PlanId.yaml'
    ThemeId:
      $ref: './parameters/ThemeId.yaml'
    MerchantId:
      $ref: './parameters/MerchantId.yaml'
    ApiKey:
      $ref: './parameters/ApiKey.yaml'
    Tier:
      $ref: './parameters/Tier.yaml'

  responses:
    NotFound:
      $ref: './responses/NotFound.yaml'
    BadRequest:
      $ref: './responses/BadRequest.yaml'
    InternalError:
      $ref: './responses/InternalError.yaml'